.img {
    background-color: blue;
    
}
.act {
    height: 300px;
    width: 300px;
    margin-left: 60px;
   
}
p {
    font-size: x-large;
    justify-content: right;
    margin-left: 300px;
    text-align: center;
    color: #fff;
}
.navbar {
    background: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: left;
    font-size: 1rem;
    top: 0;
    z-index: 999;
    position: sticky;
    box-shadow: 2px 2px 2px 2px rgba(0.5,0,0,.5);
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    position: sticky;
}

#navbar__logo {
    color: blue;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size:2rem;
    background-color: #fff;
    margin-left: 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    position: sticky;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 80vw;
    padding-left: 200px;
    flex-wrap: wrap;
}
.item {
    text-align: center;
    height: 270px;
    width: 400px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #fff;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
